[DEFAULT]
notify_on_state_change= vm_and_task_state
instance_usage_audit_period=hour
volume_api_class=nova.volume.cinder.API
auth_strategy=keystone
allow_resize_to_same_host=true
instance_usage_audit=True
resume_guests_state_on_host_boot=true
block_device_allocate_retries=60
block_device_allocate_retries_interval=6
cpu_allocation_ratio=4
ram_allocation_ratio=0.95
network_api_class = nova.network.neutronv2.api.API
linuxnet_interface_driver = nova.network.linux_net.LinuxOVSInterfaceDriver
security_group_api = neutron
memcached_servers=fixo-control-1:11211,fixo-control-2:11211,fixo-control-3:11211
config_drive_format=vfat
firewall_driver = nova.virt.firewall.NoopFirewallDriver
remove_unused_base_images=true
remove_unused_original_minimum_age_seconds=86400
injected_network_template = /etc/nova/interfaces.template
#debug=true
log_dir=/var/log/nova
notification_driver = messagingv2
rpc_backend=rabbit

[cinder]
catalog_info=volumev2:cinderv2:internalURL
os_region_name={{ region_name }}


[glance]
host=vip-internal
port=9292
protocol=http
num_retries=10


[hyperv]
wait_soft_reboot_seconds=60


[keystone_authtoken]
auth_uri = http://vip-internal:5000
auth_url = http://vip-internal:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = nova
password = foxconn
memcache_pool_dead_retry=60
memcache_pool_maxsize=20
memcache_pool_socket_timeout=3
memcache_pool_unused_timeout=60
memcache_pool_conn_get_timeout=5


[libvirt]
virt_type=kvm
inject_password=false
inject_key=false
inject_partition=-2
live_migration_flag=VIR_MIGRATE_UNDEFINE_SOURCE, VIR_MIGRATE_PEER2PEER, VIR_MIGRATE_LIVE, VIR_MIGRATE_TUNNELLED, VIR_MIGRATE_PERSIST_DEST,VIR_MIGRATE_AUTO_CONVERGE
disk_cachemodes = "network=writeback"
cpu_mode=custom
cpu_model=SandyBridge
live_migration_progress_timeout=0

[neutron]
url = http://vip-internal:9696
auth_url = http://vip-internal:35357
auth_plugin = password
project_domain_id = default
user_domain_id=  default
region_name = {{ region_name }}
project_name = service
username = neutron
password = foxconn


[oslo_concurrency]
lock_path=/var/lib/nova/tmp


[oslo_messaging_rabbit]
amqp_durable_queues=true
rabbit_hosts=fixo-control-1:5672,fixo-control-2:5672,fixo-control-3:5672
rabbit_userid=openstack
rabbit_password=foxconn
rabbit_retry_interval=1
rabbit_retry_backoff=2
rabbit_max_retries=0
rabbit_ha_queues=true
heartbeat_timeout_threshold=0


[vnc]
novncproxy_base_url=http://{{ vip }}:6080/vnc_auto.html
vncserver_listen=0.0.0.0
vncserver_proxyclient_address={{ mgnt_ip }}
enabled=true

