[ovs]
integration_bridge = br-int
tunnel_bridge = br-tun
local_ip = {{ vxlan_ip }}
bridge_mappings = public:br-v20,pub21:br-v21,pub22:br-v22
[agent]
tunnel_types =vxlan
prevent_arp_spoofing = True
[securitygroup]
firewall_driver = neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
enable_security_group = True


